var config = {};

config['development'] = {}

config['test'] = {}

config['production'] = {}

module.exports.getConfig = function(){
  const env = process.env.NODE_ENV || 'development';

  return config[env];
}