'use strict';
const knexConfig = require('../../knexfile');
const config = {};

config.development = {};

config.test = {};

config.staging = {};

config.production = {};

module.exports = function(){
  const env = process.env.NODE_ENV || 'development';
  const currentConfig = config[env];

  currentConfig.knexConfig = knexConfig[env];

  return currentConfig;
};
